*{
    box-sizing: border-box;
}

html, body{
    margin:0;
    padding: 0;
}
body{
    font-family:"Ubuntu","Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.flex-container{
    display: flex;
}

.flex-grow{
    flex-grow: 1;
}

.flex-gap{
    gap: 1rem;
}

.clickable{
    cursor: pointer;
}


button{
    cursor: pointer;
}

.strong{
    font-weight: 900;
}